 body {
   font-family: Arial, sans-serif; /*fónte da pagina*/
   /*cor de fundo*/
   background-color: #00FF56;


   .koda {
     background-color: #00B3FF;
     padding: 20px;
     border-radius: 10px;
     width: fit-content;
     margin: auto;

     }


   .botao-calcular {
     background-color: #4caf50;
     
     }

   
   .resultado {
     margin-top: 20px;
     padding: 10px;
     background-color: #90FFB6;
     border-radius: 5px;
     
     
     }

  .botão-calcular{
    background-color: #4ca;
    
  }


   