 body {
   font-family: Arial, sans-serif; /*fónte da pagina*/
   /*cor de fundo*/
   background-color: #f0f0f0,);


   .koda {
     background: linear-gradient(to right, #f0f0f0, #8de36b11);
     padding: 20px;
     border-radius: 10px;
     width: fit-content;
     margin: auto;

     }


   .botao-calcular {
     background-color: #4caf50;
     
     }

   
   .resultado {
     margin-top: 20px;
     padding: 10px;
     background-color: white;
     border-radius: 5px;
     
     
     }

  .botão-calcular{
    background-color: #4ca;
    
  }


   
}